<div class="center">
  <form [formGroup]="createUserForm" style="text-align: center;" (ngSubmit)="createUser()" autocomplete="off">
    <p>
      <mat-form-field [style.width.px]=327>
        <mat-label> Name: </mat-label>
        <input matInput type="text" formControlName="name" name="name">
        <mat-error *ngIf="createUserForm.get('name')?.invalid">
          <span *ngIf="createUserForm.get('name')?.hasError('minlength')">Length should be at least 2 characters long</span>
          <span *ngIf="createUserForm.get('name')?.hasError('required')">Name is required</span>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field [style.width.px]=327>
        <mat-label> Second name: </mat-label>
        <input matInput type="text" formControlName="secondName" name="secondName">
        <mat-error *ngIf="createUserForm.get('secondName')?.invalid">
          <span *ngIf="createUserForm.get('secondName')?.hasError('minlength')">Length should be at least 2 characters long</span>
          <span *ngIf="createUserForm.get('secondName')?.hasError('required')">Second name is required</span>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field [style.width.px]=327>
        <mat-label> Email: </mat-label>
        <input matInput type="text" formControlName="email" name="email">
        <mat-error *ngIf="createUserForm.get('secondName')?.invalid">
          <span *ngIf="createUserForm.get('email')?.hasError('email')">Invalid email pattern</span>
          <span *ngIf="createUserForm.get('email')?.hasError('required')">Email is required</span>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field [style.width.px]=327>
        <mat-label> Date of birth: </mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" name="dateOfBirth">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="createUserForm.get('dateOfBirth')?.invalid">Date is required</mat-error>
      </mat-form-field>
    </p>
  </form>

  <!-- <button mat-button (click)="submit()" mat-raised-button type="submit" [disabled]="!createUserForm.valid"
    cdkFocusInitial>Save</button> -->
    <div mat-dialog-actions>
      <button mat-button (click)="reset()">Reset form</button>
      <button mat-button (click)="createUser()" mat-raised-button type="submit" [disabled]="!createUserForm.valid"
      cdkFocusInitial>Save</button>
    </div>
</div>
